<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-menu></app-menu>

<div class="heading">
  <h1><i class="material-icons">history</i> Absent Student History</h1>
</div>

<div class="filter-container">
  <mat-form-field appearance="fill">
    <mat-label><i class="material-icons">school</i> Class</mat-label>
    <mat-select [(ngModel)]="selectedClass" (selectionChange)="applyFilters()">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let className of availableClasses" [value]="className">{{ className }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label><i class="material-icons">school</i> Program</mat-label>
    <mat-select [(ngModel)]="selectedProgram" (selectionChange)="applyFilters()">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let programName of availablePrograms" [value]="programName">{{ programName }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label><i class="material-icons">calendar_today</i> Date</mat-label>
    <input matInput type="date" [(ngModel)]="selectedDate" (input)="applyFilters()">
  </mat-form-field>
</div>

<div *ngIf="isLoading; else content" class="loading-container">
  <mat-spinner diameter="48"></mat-spinner>
  <div class="loading-animation">
    Loading...
  </div>
</div>

<ng-template #content>
  <div class="table-container">
    <table class="mat-table">
      <thead>
        <tr>
          <th><i class="material-icons">credit_card</i> PRN</th>
          <th><i class="material-icons">person</i> Student Name</th>
          <th><i class="material-icons">school</i> Program</th>
          <th><i class="material-icons">school</i> Class</th>
          <th><i class="material-icons">book</i> Course</th>
          <th><i class="material-icons">confirmation_number</i> Course Code</th>
          <th><i class="material-icons">apartment</i> Block No</th>
          <th><i class="material-icons">calendar_today</i> Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of absentStudents" class="table-row">
          <td>{{ student.prn }}</td>
          <td>{{ student.studentname }}</td>
          <td>{{ student.programname }}</td>
          <td>{{ student.year }}</td>
          <td>{{ student.course }}</td>
          <td>{{ student.coursecode }}</td>
          <td>{{ student.block_no }}</td>
          <td>{{ student.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button mat-raised-button color="primary" class="clear-filters-btn" (click)="clearFilters()">
    <i class="material-icons">clear</i> Clear Filters
  </button>
</ng-template>
