/* Custom styles for the home container */
.custom-home-container {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Custom styles for the content */
.custom-content {
  text-align: center;
}

/* Custom styles for the title */
.custom-title {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Custom styles for icons */
.custom-icon {
  font-size: 24px;
  margin-right: 10px;
}

/* Custom styles for buttons container */
.custom-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Custom styles for buttons */
.custom-button {
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Custom styles for the primary button */
.custom-button.mat-primary {
  background-color: #27ae60;
  color: #fff;
}

/* Custom styles for the primary button on hover */
.custom-button.mat-primary:hover {
  background-color: #219652;
}

/* Custom styles for the secondary button */
.custom-button.mat-secondary {
  background-color: #e74c3c;
  color: #fff;
}

/* Custom styles for the secondary button on hover */
.custom-button.mat-secondary:hover {
  background-color: #c53224;
}

/* Custom styles for the warning button */
.custom-button.mat-warn {
  background-color: #f39c12;
  color: #fff;
}

/* Custom styles for the warning button on hover */
.custom-button.mat-warn:hover {
  background-color: #d08c10;
}


.container{
  margin-top: 150px;
}