<div class="container">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  
  <mat-card class="custom-home-container">
    <mat-card-content class="content custom-content">
      <h1 class="title custom-title">
        <i class="fas fa-chart-line mr-2 custom-icon"></i>Supervision Portal
      </h1>
      
      <div class="buttons mt-5 custom-buttons">
        <button mat-raised-button class="btn-generate mat-primary custom-button" routerLink="/show-chart">
          <i class="fas fa-file-alt mr-2 custom-icon"></i> Generate Supervision Chart
        </button>
        <button mat-raised-button class="btn-view custom-button" color="primary" routerLink="/signup">
          <i class="fas fa-history mr-2 custom-icon"></i> Add Teacher
        </button>
        
        <button mat-raised-button class="btn-view custom-button" color="warn" routerLink="/deleteteacher">
          <i class="fas fa-history mr-2 custom-icon"></i> Delete Teacher
        </button>
  
        <button mat-raised-button class="btn-view custom-button" color="primary" routerLink="/viewhistory">
          <i class="fas fa-history mr-2 custom-icon"></i> View History
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  </div>